@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>

<p>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</p>  
<p>@Html.DisplayNameFor(model => model.EngineerDetails): @Html.DisplayFor(model => model.EngineerDetails)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer hasn't been assigned to any machines yet.</p>
}
else
{
  <p>This engineer is licensed to service the following machine or machines:</p>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>Machine: @join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteJoin", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Engineers", "Index")</p>
<p>@Html.ActionLink("Add a Machine to this Engineer", "AddMachine", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete an Engineer", "Delete", new {id = Model.EngineerId})</p>